<!DOCTYPE html>
<html>
<meta http-equiv="refresh" content="5" />

<head>
  <title>My Page</title>
  <!-- Include the Bootstrap CSS file -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    #transcript {
      height: 200px;
      overflow-y: scroll;
    }
  </style>
</head>
<body>
  <form method="post", action="/access_key">
    <input type="text", name="access_key", value="">
    <input type="submit", value="Submit">
  </form>
  <section style="padding: 20px;">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-3 ml-auto d-flex justify-content-end">
	        <label for="dropdown1"></label>
	        <select class="form-control" id="class">
	          <option value="unanswered">Unanswered</option>
	          <option value="answered">Answered</option>
	        </select>
	      </div>
	    </div>
	  </div>
  </section>
  <div class="container mt-5">
	  <div class="row">
	    <div class="col-md-6">
	      <div class="card">
	        <div class="card-header">
	          <h4 class="mb-0">Live Transcript</h4>
	        </div>
	        <div class="card-body">
	          {% if transcript %}
	          <div id="transcript">{{ transcript }}</div>
	          {% endif %}
	        </div>
	      </div>
	    </div>
	    <div class="col-md-6">
	      <div class="card">
	        <div class="card-header">
	          <h4 class="mb-0">Ask a Question</h4>
	        </div>
	        <div class="card-body">
	          {% if questions %}
	          <div class="alert alert-info">
	            {% for question in questions.values() %}
	            <div class="d-flex justify-content-between align-items-center">
	              <div class="d-flex align-items-center">
	                <i class="far fa-thumbs-up mr-2"></i>
	                <p>{{ question.data }}</p>
	              </div>
                      <form action="/upvote/{{ question.uuid }}", method="POST">
	              <input type="submit" class="btn btn-success">Upvote <span class="badge badge-light ml-2">{{ question.votes }}</span></button>
                      </form>
	            </div>
	            {% endfor %}
	          </div>
	          {% endif %}
	          <form method="POST">
	            <div class="form-group">
	              <label for="question">Question:</label>
	              <input type="text" class="form-control" id="question" name="question" placeholder="Enter your question here">
	            </div>
	            <button type="submit" class="btn btn-primary">Submit</button>
	          </form>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>

  
  <!-- Include the Bootstrap JavaScript file at the bottom of the <body> -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- Include Font Awesome icons -->
  <script src="https://kit.fontawesome.com/1c43c1fcd7.js" crossorigin="anonymous"></script>
</body>
</html>
