{% if questions %}
<div class="alert alert-info">
  {% for question in questions.values() %}
  <div class="d-flex justify-content-between align-items-center text-wrap">
    <div class="d-flex align-items-center">
      <i class="far fa-thumbs-up mr-2"></i>
      <p>{{ question.data }}</p>
    </div>
    <form action="/upvote/{{ question.uuid }}", method="POST">
      <input type="submit" class="btn btn-success", value="Upvote">
      <span class="badge badge-light ml-2">
        {{ question.votes }}
      </span>
    </form>
  </div>
  {% endfor %}
</div>
{% endif %}

